* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;

}


.nav1 {
    width: 100%;
    background-color: rgb(0, 109, 103);
    font-size: 1.4rem;

}

.nav1 ul li {
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    margin-left: 10px;
}

.nav1 ul {
    display: flex;
    list-style-type: none;
    padding: 5px;
    justify-content: center;
}

.nav1 ul li:hover {
    text-decoration: underline;
}

ol {
    display: none;
}

#rozwijane:hover ol {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: rgb(0, 109, 103);
    list-style-type: none;
    padding-left: 7px;
    padding-right: 14px;
    padding-bottom: 7px;
}

#rozwijane:hover {
    fill: white;
}


@font-face {
    font-family: themixosf;
    src: url(czcionka.otf);
}

.nav_dwa {
    margin-left: 100px;
    font-family: themixosf;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.nav_dwa ul {
    border-bottom-style: solid;
    border-color: rgb(215, 215, 215);
    border-width: 1.5px;
    list-style: none;
    display: flex;
    flex-direction: row;

}



#logo {
    padding-right: 200px;
}

.nav_dwa ul a {
    padding-right: 15px;
    text-decoration: none;
    font-size: 20px;
    color: #636363;
}

.nav_dwa ul a:hover {
    color: rgb(0, 109, 103);
}

.moje_konto {
    border-style: solid;
    background-color: #00746A;
    color: white;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-style: solid;
    border-width: 2px;
    transition: 0.4s;
    margin-top: 15px;
}

.moje_konto:hover {
    color: rgb(0, 109, 103);
    background-color: white;
    border-style: solid;
    border-width: 2px;
}


.nav_trzy {
    margin-left: 130px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.nav_trzy ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav_trzy ul a {
    padding: 7px;
    text-decoration: none;
    font-size: 19px;
    color: #636363;
    transition: 1s;
    border-color: #00746A;
    display: inline-block;

}




#ostatni:hover ol li {
    display: block;

}

#kekw li {
    display: none;
    border-style: none;
}




#lista:hover ol {

    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #636363;
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;


}

#strzala {

    margin-left: 50px;

}

.nav_trzy ul a:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    border-top-style: solid;
    border-width: 1px;
    border-color: #00746A;
}

.nav_trzy p:hover {
    text-decoration: underline;
    text-decoration-color: #00746A;
}


.nav_trzy ul li {
    font-family: themixosf;

}

.lupa {
    color: white;
    background-color: rgb(0, 109, 103);
    padding-top: 8px;
    padding-bottom: 8px;
    transition: 0.4s;
    border-style: solid;
    border-width: 2px;
    margin-left: 40px;
    margin-top: -10px;


}

.lupa:hover {
    color: rgb(0, 109, 103);
    background-color: white;
    border-style: solid;
    border-width: 2px;
    text-decoration: none;

}

#slider {
    margin-top: 20px;
    position: relative;
    width: 100%;
    overflow: hidden;
}

#obrazki {
    width: 100%;
    position: relative;
    display: flex;
    animation: 20s slajdy infinite;

}

@keyframes slajdy {
    0% {
        left: 0;
    }

    5% {
        left: 0;
    }

    35% {
        left: -100%;
    }

    40% {
        left: -100%;
    }

    60% {
        left: -200%;
    }

    65% {
        left: -200%;
    }

    80% {
        left: -300%;
    }

    85% {
        left: -300%;
    }

    95% {
        left: 0;
    }

    100% {
        left: 0;
    }
}

h1 {
    color: rgb(0, 109, 103);
    font-family: themixosf;
    text-align: center;
}

.sekcja1 {
    padding-top: 70px;
    display: flex;
    justify-content: center;

}

.sekcja1_1 {
    padding-right: 90px;
    width: 20%;
    text-align: center;
}

.sekcja1_2 {
    padding-right: 45px;
    width: 20%;
    text-align: center;
}

.sekcja1_3 {
    padding-left: 90px;
    width: 20%;
    text-align: center;
}


h2 a {
    text-decoration: none;
    color: rgb(0, 109, 103);
    font-family: themixosf;
}

p {
    font-size: 20px;
    font-family: themixosf;
    color: #636363;
}

.sekcja2 {
    text-align: center;
}

video {
    display: inline-block;

}

h2 {
    text-decoration: none;
    color: #00746a;
    ;
    font-family: themixosf;
}

h3 {
    text-decoration: none;
    color: #00746a;
    font-family: themixosf;
}

.sekcja3 {
    text-align: center;
}

.sekcja3_1 {

    display: flex;

    justify-content: center;
    text-align: center;


}

.sekcja3_1_1 {


    width: 19%;



}

.sekcja3_1_2 {

    width: 25%;
    padding-left: 60px;


}

.sekcja3_1_3 {
    padding-left: -90px;
    width: 25%;
}

.sekcja4 {
    display: flex;
    justify-content: center;
}